.foto-home {
    height: 12rem;
    margin-top: 2rem;
}
.palavra-home{
    position: absolute;
    font-family: "Oxygen";
    opacity: 0.6;
}
/*  -- Left items floated -- 
    .eficiencia
    .acessibilidade
    .boas-praticas
*/
.acessibilidade {
    top: 58%;
    left: 15%;
    font-size: 1.2rem;
}
.boas-praticas{
    top: 35%;
    right: 83%;
    font-size: 1.2rem;
}
.javascript {
    top: 80%;
    right: 72%;
    font-size: 1.2rem;
}
.design {
    top: 40%;
    left: 30%;
    font-size: 1.2rem;
}
.html5 {
    bottom: 70%;
    left: 20%;
    font-size: 1.2rem;
}

/*  -- Right items floated -- 
    .codigo-limpo
    .css3
    .html5 
*/
.codigo-limpo{
    top: 18%;
    right: 28%;
    font-size: 1.2rem;
}
.css3{
    top: 52%;
    right: 30%;
    font-size: 1.2rem;
}
.responsivo {
    top: 73%;
    right: 20%;
    font-size: 1.2rem;
}
.otimizacoes {
    top: 50%;
    right: 14%;
    font-size: 1.2rem;
}
.agilidade {
    top: 33%;
    right: 21%;
    font-size: 1.2rem;
}
.eficiencia {
    top: 28%;
    right: 10%;
    font-size: 1.2rem;
}
.inicio-post{
    color: black;
    background-color: #F2FFFC;
    position: absolute;
    top: 3em;
    right: 3em;
    height: 6em;
    padding: 1em;
}
.lista-desordenada li{
    padding: 0.5rem;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    padding: 2rem;
}
.saudacao-inicio {
    color: #889;
    margin-left: 5rem;
    font-size: 3rem;
}
.saudacao-ultima-linha {
    display: block;
    margin-left: 15rem;
    padding: 1rem;
}
.saudacao strong {
    color: #000;
    font-size: 2rem;
}
.saudacao em {
    color: #851944;
    font-size: 3rem;
}
.botao-index {
    padding: 0.6rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 50ch;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.secao-inicio h2 {
    text-transform: uppercase;
    margin-left: 1rem;
    font-size: 2em;
}
.subtitulo-principal{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.titulo-principal{
    font-size: 3rem;
    color: white;
    background-color: #851944;
    text-align: center;    
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 0.7rem solid #000;
    border-bottom: 0.7rem solid #000;
}
.trabalhos h2 {
    color: #FFF;
    margin-bottom: 1.5rem;
}
.trabalhos ul {
    overflow: hidden;
    border: 0.5rem solid black;
    margin: 1rem;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: 0.7rem solid #851944;
    margin-bottom: 6rem;
    position: relative;
}
.blog li a {
    color: #FCF;
}
small{
    margin-left: 1rem;
}
header{
    margin: auto;
    position: relative;
}
footer {
    border-top: .2em solid #851944;
}
footer a {
    color: #F99;
}
footer h2{
    font-size: 2em;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
