html{
	font-size: 100%;
	height: 100%;
}
body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 1em;
  line-height: 1.5;
	height: 100%;
}
header{
	font-size: 10rem;
	border-bottom: 0.7rem solid black;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}
main{
	float: left;
	width: 85%;
	padding-bottom: 7rem;
}
main div{
    width: 720px;
    margin: auto;
}

main h1 {
	text-align: center;
	background-color: #851944;
	color: #FFF;
    padding: 1rem;
    font-size: 4rem;
}

p {
	text-align: justify;
}
blockquote, aside,  footer{
    padding: 1rem;
}

blockquote{
    background-color: #D9E5E3;
    padding: 1rem;
    border: 0.8rem solid #C2CCCA;
    margin: 0;
    width: 30ch;
    box-sizing: border-box;
}
cite{
	font-style: italic;
	float: right;
	display: block;
}

/* article used to separate blog posts */
article{
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid #ccc;
    margin-bottom: 1rem;
}
aside{
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}
footer{
    background-color: black;
    color: #F2FFFC;
		position: sticky;
		left: 0;
		bottom: 0;
		width: 100%;
		box-sizing: border-box;
}
nav a {
		display: block;
		text-decoration: none;
}
ul{
    color: pink;
}
ul li{
    display: inline;
}
/* função display usada para acertar o tamanho da imagem no link */
ul li a{
    color: inherit;
}
.titulo{
	text-transform: uppercase;
}
.icones-sociais a {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    font-size: 0;
}

.github {
    background-image: url(../img/github.png);
}

.twitter {
     background-image: url(../img/twitter.png);
}

.linkedin {
    background-image: url(../img/linkedin.png);
}
.blogFooter{
        background-color: #F2FFFC;
        color: black;
}
.leiaMais{
    padding: 0.5rem;
    margin: 0.5rem;
    display: block;
    font-size: 1.6rem;
    text-align: center;
    background-color: #E6E7E8;
	text-decoration: none;
}
.sidebar{
    text-transform: lowercase;
	color: white;
}
.fiat{
	float: right;
	margin: 2rem;
}
.petrobras{
	float: left;
	margin: 2rem;
}
.subtitle{
	clear:both;
	font-size: 1.5rem;
	padding: 0.5rem;
}
.foto-perfil{
	width: 12.5rem;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 0.7rem solid black;
	border-left: 0.7rem solid black;
}
.navegacao-site{
	float: right;
	width: 15%;
	border-bottom: 0.7rem solid black;
	border-left: 0.7rem solid black;
	box-sizing: border-box;
	position: relative;
	top: 13.2rem;
	right: 0;
}
.rodape-bio{
	clear: both;
}
