body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
    line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}
main div{
    width: 720px;
    margin: auto;
}
div{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

main h1 {
	text-align: center;
	background-color: #851944;
	color: #FFF;
    padding: 25px;
}

p {
	text-align: justify;
}
blockquote, aside,  footer{
    padding: 20px;
}

blockquote{
    background-color: #D9E5E3;
    padding: 20px;
    border-bottom: 10px solid #C2CCCA;
    margin: 0;
    width: 250px;
    /*  BOX-SIZING - Usada para aplicar a largura altura a todo o bloco */
    box-sizing: border-box;
}
aside{
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}
footer{
    background-color: black;
    color: #F2FFFC;
}
nav a {
    color: #F2FFFC;
}
ul{
    color: pink;
}
ul li a{
    color: inherit;
}